.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  margin: 5rem auto 0;
  
  h1 {
    font-size: 3.25rem;
    font-weight: 900;
  }

  time {
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
    display: block;
    margin-bottom: 1rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    p, ul {
      margin: 1.5rem 0;
    }

    ul {
      list-style: disc;
      padding-left: 2rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }

  .author {
    p {
      span {
        font-weight: 600;
        color: var(--gray-300);
        letter-spacing: 0.1rem;
      }

      font-size: 1rem;
      margin-top: 3rem;
      color: var(--yellow-500);
    }
  }

  .contentPost {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;

    h2 {
      font-size: 2.25rem;
      font-weight: 900;
      margin: 3rem 0 1.5rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 2rem;
      color: var(--gray-100);

      & + p {
        margin-top: 1.5rem;
      }

      strong {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--gray-300);
      }

      a {
        color: var(--pink-500);
      }
    }

    ul {
      list-style: disc;
      padding-left: 2rem;
      margin-bottom: 1.5rem;

      li {
        margin: 0.5rem 0;
        
        strong {
          font-weight: 600;
          font-size: 1.15rem;
          color: var(--gray-300);
        }
      }
    }
  }
}


